Repository jgjfuture/cci-path-filtering-practice: changes, and which CircleCI parameters are due for each by the changed paths.
All: deploy-service-a, deploy-service-b, deploy-service-c, deploy-all

when条件の書き方を変える
  .circleci/continue_config.yml
Due: none

共有部分を更新
  shared/.gitkeep
Due: deploy-all

service aをmain以外で更新
  apps/service-a/main.go
Due: deploy-service-a

mainの上でしか走らないようにする
  .circleci/config.yml
Due: none

ほかブランチの検証用ワークフローを定義
  .circleci/config.yml
Due: none

setupではワークフローを１つにする
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

mainじゃなくてもsetupは実行する
  .circleci/config.yml
Due: none

mainでのみデプロイが実行されるようにする
  .circleci/continue_config.yml
Due: none

条件ミス
  .circleci/continue_config.yml
Due: none

mainではないところでbを変更
  apps/service-b/main.go
Due: deploy-service-b

approve
  .circleci/continue_config.yml
Due: none

missing colon
  .devcontainer/devcontainer.json
Due: none

missing colon
  .circleci/continue_config.yml
Due: none

mainはapproval stepなし
  .circleci/continue_config.yml
Due: none

Path conditions:
  deploy-service-a: any of: apps/service-a/.*
  deploy-service-b: any of: apps/service-b/.*
  deploy-service-c: any of: apps/service-c/.*
  deploy-all: any of: shared/.*
